<section id="emoticon-display" class="add-emoticon">
  <label for="add-emoticon-description">a short one sentance description of the emoticon</label>
  <input id="add-emoticon-description" type="text" /><br />
  <label for="add-emoticon">the emoticon itself</label><br />
  <textarea id="add-emoticon"></textarea><br />
  <br />
  <label for="add-emoticon-tags">tags for the emoticon</label>
  <input id="add-emoticon-tags" type="text" /><br />
  <br />
  <button class="btn">creates</button>
</section>