<section  id="emoticon-display" class="add-emoticon"><br />
  <span ng-show="isThereErrors()" style="color: red">
    {{errors}}
  </span>
  <label for="new-emoticon-description">
    a short one sentence description of the emoticon
  </label>
  <input id="new-emoticon-description"
         type="text"
         ng-model="newEmoticonDescription" />
  <br />

  <label for="new-emoticon-text">
    the emoticon itself
  </label>
  <br />
  <textarea id="new-emoticon-text"
            ng-model="newEmoticonText"></textarea>
  <br />
  <br />

  <label for="add-emoticon-tags">tags for the emoticon</label>
  <input id="add-emoticon-tags"
         type="text"
         auto-complete="addTagAutoComplete"
         auto-complete-source="allTags()"
         on-keyup="addTagKeyDown" up-keys="[13]"
         ng-model="tagInput"
         autocapitalize="off"
         autocorrect="off" />

  <ul>
    <li ng-repeat="tag in tagsToAdd">
      <a ng-click="removeTag(tag)" class="label">{{tag}}</a>
    </li>
  </ul>

  <br />
  <br />
  <button ng-click="saveEmoticon()" class="btn">
    create
  </button>
</section>