<% cache 'available_tags_view' do %>
<section id="emoticon-display" class="available-tags">
  <h1>available tags</h1>
  <ul>
    <li ng-repeat="tag in availableTags()">
      <a class="label" ng-click="addTag(tag)">{{tag}}</a>
    </li>
  </ul>

  <a id="close-popover" href="{{closePopoverUrl()}}">X</a>
</section>
<% end %>