<section id="emoticon-display">
  <p class="notification {{flash.kind()}}" ng-show="flash.shouldShowFlash()">
    {{flash.message()}}
  </p>

  <p id="selected-note">{{currentEmoticon().description}}</p>

  <h1>
    <pre><span id="{{currentEmoticon().id}}">{{currentEmoticon().text}}</span></pre>
  </h1>

  <input type="text" />

  <ul>
    <li ng-repeat="(tag, count) in currentEmoticon().tags">
      <a class="label">{{tag}}</a>
    </li>
  </ul>

  <div>
    <button class="pure-button"
            data-clipboard-target="{{currentEmoticon().id}}"
            zero-clipboard>
      <span id="clipboard-success" class="checkmark">✓</span>
      Copy to Clipboard
    </button>
    <button class="pure-button"
            logged-in-toggle="pure-button-disabled"
            ng-click="addToFavorites(currentEmoticon().id)">
      Add to Favorites
    </button>
  </div>

  <a id="close-popover" href="{{closePopoverUrl()}}">X</a>
</section>