<ul id="emoticon-list" masonry>
  <li ng-repeat="emoticon in emoticonList = (emoticons() | filter:tagFilter)">
    <a href="#/emoticons/{{emoticon.id}}" class="width-{{emoticon.display_columns}}">
      <pre><span>{{emoticon.text}}</span></pre>
    </a>
  </li>
</ul>