<section id="emoticon-display">
  <p id="selected-note">{{emoticon.description}}</p>
  <h1><pre><span>{{emoticon.text}}</span></pre></h1>
  <ul>
    <li ng-repeat="(tag, count) in emoticon.tags">
      <a class="no-link">{{tag}}</a>
    </li>
  </ul>
  <button class="pure-button">Copy to Clipboard</button>
  <button class="pure-button"
          logged-in-toggle="pure-button-disabled">
    Add to Favorites
  </button>
</section>