<% cache 'emoticon_view' do %>
<section id="emoticon-display">
  <p class="notification {{flash.kind()}}" ng-show="flash.shouldShowFlash()">
    {{flash.message()}}
  </p>

  <p id="selected-note">{{currentEmoticon().description}}</p>

  <h1>
    <pre><span id="{{currentEmoticon().id}}">{{currentEmoticon().text}}</span></pre>
  </h1>

  <input type="text"
         placeholder="add a tag to this emoticon"
         on-keyup="addTag" up-keys="[13]"
         ng-model="addTagText"
         logged-in-toggle="input-disabled"
         tooltip="log in to use"
         tooltip-enabled="isLoggedIn()"
         tooltip-check-type="false"
         data-delay="200"
  />

  <ul>
    <li ng-repeat="tag in currentEmoticon.tags()">
      <a class="label">{{tag}}</a>
    </li>
  </ul>

  <div>
    <button class="pure-button"
            data-clipboard-target="{{currentEmoticon().id}}"
            zero-clipboard>
      <span id="clipboard-success" class="checkmark">✓</span>
      Copy to Clipboard
    </button>
    <button class="pure-button"
            logged-in-toggle="pure-button-disabled"
            ng-click="addToFavorites(currentEmoticon().id)"
            ng-show="showAddToFavorites()"
            tooltip="log in to use"
            tooltip-enabled="isLoggedIn()"
            tooltip-check-type="false"
            data-placement="bottom">
      Add to Favorites
    </button>
    <button class="pure-button"
            logged-in-toggle="pure-button-disabled"
            ng-click="removeFromFavorites(currentEmoticon().id)"
            ng-hide="showAddToFavorites()">
      Remove from Favorites
    </button>
  </div>

  <a id="close-popover" href="{{closePopoverUrl()}}">X</a>
</section>
<% end %>