<ul ng-controller="EmoticonCtrl" id="emoticon-list">
  <li ng-repeat="emoticon in fEmoticons = (emoticons | filter:tagFilter)">
    <a class="width-{{emoticon.display_columns}}">
      <pre>{{emoticon.text}}</pre>
    </a>
  </li>
</ul>