<section id="emoticon-list" class="clearfix">

<ul ng-controller="EmoticonCtrl">
  <li ng-repeat="emoticon in emoticons | filter:tagFilter">
    <article class="clearfix">
      <a>{{emoticon.text}}</a>
    </article>
    <!--
    <ul>
      <li ng-repeat="tag in emoticon.tags">
        {{tag}}
      </li>
    </ul>
    -->
  </li>
</ul>
</section>