<h1>The new emotejiji</h1>

<div ng-controller="TagSearchCtrl">
  <input type="text" ng-model="searchInput" on-keyup="searchKeyPress" keys="[13, 8]" />
    <span ng-repeat="tag in activeTags">{{tag}} </span>
</div>

<ul ng-controller="EmoticonCtrl">
  <li ng-repeat="emoticon in emoticons | filter:tagFilter">
    Message: {{emoticon.text}}
    <ul>
      <li ng-repeat="tag in emoticon.tags">
        {{tag}}
      </li>
    </ul>
  </li>
</ul>


<% if current_user %>
  Hi, <%= current_user.username %><br />
<% end %>

<% if signed_in? %>
  User signed in<br />
  <%= link_to "signout", signout_path %>
<% else %>
  User signed out<br />
  <%= link_to "signin", signin_path, method: :delete %>
<% end %>