<h1>The new emotejiji</h1>

<hr />
<hr>
<h1>Foo start</h1>
<div ng-controller="EmoticonCtrl">
  <h1>[{{working}}]</h1>
  <ul>
    <li ng-repeat="emoticon in emoticons">
      Message: {{emoticon.text}}
    </li>
  </ul>
</div>
<h1>Foo end</h1>

<hr />

<% if current_user %>
  Hi, <%= current_user.username %><br />
<% end %>

<% if signed_in? %>
  User signed in<br />
  <%= link_to "signout", signout_path %>
<% else %>
  User signed out<br />
  <%= link_to "signin", signin_path, method: :delete %>
<% end %>