#pop-over {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 13px;
}

#emoticon-display {
  background: #FFF;
  text-align: center;
  padding: 30px 5px;
  margin-left: 220px;

  p { margin: 0; padding: 0 }

  h1 {
    display: table;
    margin: auto;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    line-height: inherit;

    pre {
      display: table-cell;
      vertical-align: middle;
      font-family: inherit;
      line-height: 100%;

      span {
        display: inline-block;
        text-align: left;
      }
    }
  }

  ul {
    li {
      display: inline;
      list-style-type: none;
    }
  }
}