#pop-over {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 13px;
}

#emoticon-display {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 30px 5px 45px 5px;
  margin-left: 220px;
  min-width: 464px;

  p {
    margin: 0 0 7px 0;
    padding: 0;
    color: darkgray;
    font-style: italic;
  }

  h1 {
    display: table;
    margin: auto;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    line-height: inherit;
    margin-bottom: 20px;

    pre {
      display: table-cell;
      vertical-align: middle;
      font-family: inherit;
      line-height: 100%;

      span {
        display: inline-block;
        text-align: left;
      }
    }
  }

  input {
    display: block;
    margin: auto;
    width: 303px;
  }

  input[type=text] {
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 5px 0 20px 0;
    li {
      display: inline;
      list-style-type: none;
    }
  }

  button:first-child {
    margin-right: 5px;
    position: relative;
  }

  .checkmark {
    position: absolute;
    display: block;
    top: 3px;
    left: 5px;
    font-size: 20px;
    color: limegreen;
    display: none;
  }
}

.add-emoticon {
  label {
    font-size: 14px;
    color: #CCC;
    font-style: italic;
  }

  /* Refactor this out when we go to #pop-over and .emoticon-detail / .available-tags */
  input {
    width: 310px !important;
    text-align: center;
  }

  textarea {
    width: 340px;
    height: 60px;
    padding: 10px 20px;
  }

  a#size-calculator {
    margin: auto;
    display: table;
    font-size: 20px;
    //border: 1px solid #eee;
    width: 9999px;
    visibility: hidden;

    pre {
      display: table-cell;
      vertical-align: middle;
      font-family: inherit;
      line-height: 100%;

      span {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.available-tags {
  .label {
    font-size: 12.5px;
    margin: 2px 1px;
    cursor: pointer;
  }
}


#close-popover {
  position: absolute;
  right: 40px;
  top: 10px;
  font-style: italic;
  color: #4BC5C5;
}

#close-popover:hover {
  color: #EB8014;
}