// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333326;
}

#content {
  margin-left: 310px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
  }

  article {
    margin: 0 5px 10px 5px;
    background: #F5F5F5;
    font-size: 30px;
  }

  aside {
    display: none;
  }

  .width-1 {
    width: 150px;
    height: 150px;
  }

  .width-2 {
    width: 310px;
    height: 150px;
  }

  .width-3 {
    width: 470px;
    height: 150px;
  }
}

#left-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #F5F5F5;
  padding-bottom: 30px;

  .margin {
    margin: 0 20px;
  }

  .pure-button {
    /*background: #F5F5F5;*/
    background: #FFF;
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding: 4px 20px 4px 28px;
  }

  .heading {
    font-weight: bold;
    color: gray;
  }
}

.logo {
  h1 {
    display: inline-block;
    line-height: normal;
    letter-spacing: normal;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
  }

  span {
    font-size: 20px;
    color: #FFF;
    background: #DB7600;
    padding: 4px 5px 4px 6px;
    position: relative;
    top: -2px;
  }
}