// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333326;
  font-size: 14px;
  min-width: 704px;
}

a {
  color: #666;
  text-decoration: none;
}

a.a-disabled {
  color: #DDD !important;
  text-decoration: line-through;
  cursor: not-allowed;
}
//
//a.btn-disabled {
//  background: #E6E6E6;
//  color: rgba(0, 0, 0, 0.8);
//  opacity: 0.4;
//  cursor: not-allowed;
//}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #CCC;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

textarea {
  -webkit-appearance: none;
  border-radius: 0;
  border: 1px solid #CCC;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.notification {
  padding: 0 20px !important;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  font-style: normal !important;
  height: 30px;
  color: #fff !important;
  background: #E6E6E6;
}

.notification.success {
  background: #1CB841;
}
.notification.error {
  background: #CA3C3C;
}




.label {
  border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

#content {
  margin-left: 220px;
  position: relative;
}

#emoticon-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
  }

  a {
    display: table;
    margin: 0 5px 10px 5px;
    background: #F5F5F5;
    font-size: 20px;
    text-align: center;
    //border: 1px solid #eee;
    border-radius: 3px;

    pre {
      display: table-cell;
      vertical-align: middle;
      font-family: inherit;
      line-height: 100%;

      span {
        display: inline-block;
        text-align: left;
      }
    }
  }

  .width-1 {
    width: 150px;
    height: 100px;
  }

  .width-2 {
    width: 310px;
    height: 100px;
  }

  .width-3 {
    width: 470px;
    height: 100px;
  }

  .width-4 {
    width: 630px;
    height: 100px;
  }
}

#left-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 220px;
  padding-bottom: 30px;

  .content {
    width: 200px;
    margin: 0 10px 20px 10px;
  }

  h4 {
    margin: 0;
    font-weight: normal;
    line-height: inherit;
    font-size: 12px;
    font-weight: bold;
    color: gray;
  }
}

#tag-search {
  position: relative;

  input {
    width: 190px;
  }

  .current-tags {
    position: absolute;
    top: 4px;
    left: 4px;
  }

  .tag {
    margin-right: 4px;
  }
}

#popular-tags {
  a {
    border: none;
    background: none;
    cursor: pointer;
    padding: 4px 0px;
    margin: 4px 2px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    //text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 14px;
    font-weight: 300;
    font-family: Lato, Calibri, Arial, sans-serif;

    border-radius: 5px;
    background: #F5F5F5;
    box-shadow: 0 4px #E6E6E6;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;

    &:hover {
      box-shadow: 0 3px #E6E6E6;
      top: 1px;
    }
    &:active {
      box-shadow: 0 1px #E6E6E6;
      top: 3px;
    }
  }
}

#myself {
  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: #4BC5C5;
  }

  a:hover {
    color: #EB8014;
  }
}


.nav-table {
  width: 200px;
  text-align: center;
  border-radius: 4px;

  td {
    width: 50%;
    padding: 0;

    a {
      border: 1px solid #e6e6e6;
      font-size: 14px;
      display: block;
      padding: 5px 0;
      text-decoration: none;
      color: #333;
      background: #f5f5f5;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    }
  }

  td:first-child a {
    border-right: none;
  }

  tr td a {
    border-bottom: none;
  }

  tr:last-child td a {
    border-bottom: 1px solid #e6e6e6;
  }

  .top-left a {
    border-top-left-radius: 4px;
  }

  .top-right a {
    border-top-right-radius: 4px;
  }

  .bottom-left a {
    border-bottom-left-radius: 4px;
  }

  .bottom-right a {
    border-bottom-right-radius: 4px;
  }
}

#logo {;
  h1 {
    display: inline-block;
    line-height: normal;
    letter-spacing: normal;
    font-size: 27px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  span {
    font-size: 18px;
    color: #FFF;
    background: #EB8014;
    padding: 4px 5px 4px 6px;
    position: relative;
    top: -2px;
  }
}
#logo.content {
  margin-top: 1px;
  margin-bottom: 5px;
}

// Top Decoration
.top-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #4BC5C5;
  height: 3px;
  z-index: 20;
  position: fixed;

  div {
    width: 200px;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background: #FF9900;
  }
}

#filters {
  .btn-group {
    width: 200px;
    .btn {
      padding-left: 0;
      padding-right: 0;
      width: 98px;
    }
  }
}

// Bootstrap button group
.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group > .btn {
  position: relative;
  border-radius: 0;
}

.btn-group > .btn + .btn {
  margin-left: -1px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  margin-right: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.btn-group > .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn {
  display: inline-block;
  *display: inline;

  padding: 4px 0px;
  margin: 4px 2px;

  font-size: 14px;
  font-weight: 300;
  font-family: Lato, Calibri, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  outline: none;
  position: relative;

  border: none;
  background: #F5F5F5;
  box-shadow: 0 4px #E6E6E6;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;

  &:hover {
    box-shadow: 0 3px #E6E6E6;
    top: 1px;
  }

  &:active {
    box-shadow: 0 1px #E6E6E6;
    top: 3px;
  }
}

.btn.disabled {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.6;

  &:hover {
    box-shadow: 0 4px #E6E6E6;
    top: 0px;
  }

  &:active {
    box-shadow: 0 4px #E6E6E6;
    top: 0px;
  }

}

.all-filter.all,
.favorites-filter.favorites {
  box-shadow: 0 1px #E6E6E6;
  top: 3px;
}

input[type=text].disabled {
  background: #F1F1F1;
  cursor: not-allowed;
  opacity: .4;
}
