<div id="left-bar">
  <div id="logo" class="logo content">
    <h1>emotejiji</h1>
    <span>Σ(゜д゜;)</span>
  </div>

  <div ng-controller="TagSearchCtrl">
    <section id="tag-search" class="search content">
      <input ng-model="searchInput"
             on-keydown="searchKeyDown" down-keys="[8]"
             on-keyup="searchKeyUp" up-keys="[13]"
             auto-complete="autoCompleteSelect"
             auto-complete-source="availableTags()"
             autocapitalize="off"
             autocorrect="off"
      />
      <div id="current-tags" class="current-tags" tag-spacer>
        <span class="tag label" ng-repeat="tag in activeTags">{{tag}}</span>
      </div>
    </section>

    <section id="popular-tags" class="content">
      <h4>POPULAR TAGS</h4>
      <table id="popular-tags" class="nav-table">
        <tr>
          <td class="top-left"><a tag-click-add="happy">happy</a></td>
          <td class="top-right"><a tag-click-add="sad">sad</a></td>
        </tr>
        <tr>
          <td><a tag-click-add="angry">angry</a></td>
          <td><a tag-click-add="animals">animals</a></td>
        </tr>
        <tr>
          <td class="bottom" colspan="2">
            <a href="#">show all</a>
          </td>
        </tr>
      </table>
    </section>
  </div>

  <section id="filters" class="content">
    <h4>FILTERS</h4>
    <div class="btn-group">
      <a href="/#"
         class="btn">
        all
      </a>
      <a href="/#/favorites"
         class="btn"
         logged-in-toggle>
        favorites
      </a>
      <!-- <a class="btn" logged-in-toggle>recent</a> -->
    </div>
  </section>

  <section id="myself" class="content">
    <h4>MYSELF</h4>
    <ul>
      <li><a href="#">add emote</a></li>
      <li>
        <a ng-show="loggedIn" href="/signout">logout</a>
        <a ng-hide="loggedIn" href="/signin">sign in</a>
      </li>
    </ul>
  </section>
</div>