<div id="left-bar">
  <div id="logo" class="logo content">
    <h1>emotejiji</h1>
    <span>Σ(゜д゜;)</span>
  </div>

  <div ng-controller="TagSearchCtrl">
    <section id="tag-search" class="search content">
      <input ng-model="searchInput"
             on-keydown="searchKeyDown" down-keys="[8]"
             on-keyup="searchKeyUp" up-keys="[13]"
             auto-complete="autoCompleteSelect"
             auto-complete-source="availableTags()"
             autocapitalize="off"
             autocorrect="off"
      />
      <div id="current-tags" class="current-tags" tag-spacer>
        <span class="tag label" ng-repeat="tag in activeTags()">{{tag}}</span>
      </div>
    </section>

    <section id="popular-tags" class="content">
      <h4>POPULAR TAGS</h4>
      <table id="popular-tags" class="nav-table">
        <tr>
          <td class="top-left">
            <a ng-click='addTag("happy")'>happy</a>
          </td>
          <td class="top-right">
            <a ng-click='addTag("sad")'>sad</a>
          </td>
        </tr>
        <tr>
          <td>
            <a ng-click='addTag("angry")'>angry</a>
          </td>
          <td>
            <a ng-click='addTag("animal")'>animals</a>
          </td>
        </tr>
        <tr>
          <td class="bottom" colspan="2">
            <a href="/available-tags">show all</a>
          </td>
        </tr>
      </table>
    </section>
  </div>

  <section id="filters" class="content">
    <h4>FILTERS</h4>
    <div class="btn-group">
      <a href="/"
         class="btn">
        all
      </a>
      <a href="/favorites"
         class="btn"
         logged-in-toggle="btn-disabled">
        favorites
      </a>
      <!-- <a class="btn" logged-in-toggle>recent</a> -->
    </div>
  </section>

  <section id="myself" class="content">
    <h4>MYSELF</h4>
    <ul>
      <li><a href="/add-emoticon" logged-in-toggle="a-disabled">add emote</a></li>
      <li>
        <!--
          How to handle links in Angular in HTML5 mode when you don't want the HTML5 link rewriter overriding a
          traditional link
          http://stackoverflow.com/questions/11580004/angular-js-link-behaviour-disable-deep-linking-for-specific-urls
        -->
        <a ng-show="loggedIn" target="_self" href="/logout">logout</a>
        <a ng-hide="loggedIn" target="_self" href="/login">login or register</a>
      </li>
    </ul>
  </section>
</div>
