<!DOCTYPE html>
<html ng-app="Emotejiji">
<head>
  <title>Emotejiji</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <script src="//cdn.jsdelivr.net/underscorejs/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>

  <%= javascript_include_tag "application" %>
</body>
</html>
